.delivery-details-container {
  padding: 1.5rem 1.5rem 1.5rem;
  height: auto;
  margin: 0 auto;
  max-width: 70.625rem;
  min-height: 62.5rem;
}
#header-text {
  font-weight: 600;
  font-size: 2rem;
}
#restaurant-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #666;
}
#subheader-text {
  font-weight: 400;
  font-size: 1.8rem;
}
